/.env
/.env.qa
/.env.production
/.env.development
script/.env
node_modules

.vscode/settings.json
cypress/videos
cypress/screenshots
cypress/integration/examples

.DS_Store

ignore/
front-admin-old/
front_old

var/

docker-build*